# Игнорировать всё по умолчанию
*

# Разрешить gitignore самому себя
!.gitignore

# Разрешить backend и sanity-studio
!/backend/
!/sanity-studio/

# Внутри этих папок тоже исключить мусор
backend/node_modules/
sanity-studio/node_modules/
backend/dist/
backend/.env
sanity-studio/.env
backend/.DS_Store
sanity-studio/.DS_Store

# Игнор IDE и системные файлы
.idea/
.vscode/
.DS_Store
Thumbs.db